<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559268927473-vtl26nv12vu57auqnbl72qb6amq5o3jo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559268927473-vtl26nv12vu57auqnbl72qb6amq5o3jo</string>
	<key>API_KEY</key>
	<string>AIzaSyAPmH68pucGCaRR7V8x-BS1jn34iwn9znM</string>
	<key>GCM_SENDER_ID</key>
	<string>559268927473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>t.xzuvyShop</string>
	<key>PROJECT_ID</key>
	<string>xzuvyshop</string>
	<key>STORAGE_BUCKET</key>
	<string>xzuvyshop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559268927473:ios:50548b1f097397570f9650</string>
</dict>
</plist>